<div class="text-center">  
<img src="/images/csc365.png" alt="CSC 365" class="img-fluid mx-auto d-block" style="max-width: 100%; height: auto;" />
<p>This web app is a class project aimed at learning how to programmatically utilize data in a database and make it available to an app user.</p>
<p>Select a menu item to view some of the results from data collected throughout the quarter from studenst in the CSC 365 from professor Vargas.</p>
<canvas id="chartCanvas" width="400" height="200"></canvas>  
</div>

